body {
  background-color: #ffffff;
  background-image: url("texture.png");
  background-repeat: repeat;
}

h1 {
  text-align: center;
  color: grey;
  margin-bottom: 20px;
  
}
.gallery {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.gallery img {
  width: 300px; /* taille identique */
  height: 200px; /* force même hauteur */
  object-fit: cover; /* coupe proprement */
  border-radius: 10px;
}

section {
  background-color: white; 
  padding: 50px 30px;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, sans-serif; /* Police moderne et lisible */
  color: black ; 
  max-width: 900px;
  margin: 20px auto; /* réduit fortement */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

}

.accompagnement h4 {
  text-align: center;
  max-widht: 50px;
  margin: auto;
}

h4{
  color: black; 
  margin-bottom: 0.5em;
}
p {
  line-height: 1.6;
}

.hero h2 { 
  font-size: 10px;
}
.hero p { 
    margin: 20px 0;
}
.btn{ 
    display: inline-block;
    padding:15px 15px;
    background:#e67e22;
    color: grey;
    text-decoration: nore;
    border-radius:5px;
    font-weight:bold;
}
.services{ 
    padding:20px 15px; /* réduit l'espace */
    text-align:center;
}
.cards{ 
display: flex;
justify-content:  center;
gap: 15px; /* moins d'espace */
  flex-wrap: wrap;
}
.card { 
 width:400px; /* plus large */ 
}
.testimonials { 
    background: black;
    padding:30px 20px;
    text-align:center;
}
.cta {  
    text-align:right;
    padding:30px;
    background: transparent;
}

.blocs {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

footer{ 
    tex-align:center;
    padding:20px;
    background: red;
    color: red;
 
